$prefix: app;
.#{$prefix}- {
  &icon-group {
    margin: 50px 50px;
  }

  &icon-group-title,
  &copy-title {
    font-size: 24px;
  }
  &icon-group-content {
  }

  &icon-box {
    color: #555;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: color 0.4s;
    vertical-align: top;
    .zteicon {
      font-size: 24px;
      margin: 16px 0;
    }
  }

  &copied {
    color: #58a1ff !important;
    .#{$prefix}-btn-copy {
      opacity: 1;
    }
  }
  &icon-box:hover,
  &copied {
    background-color: #3794ff;
    color: white;

  }

  &btn-copy {
    position: absolute;
    top: calc(50% - 10px);
    width: 100%;
    left: 0;
    text-align: center;
    opacity: 0;
    color: white;
    transition: opacity 0.4s;
  }

  &copy-name {
    border-radius: 5px;
    border: 1px solid #dddddd;
    display: inline-block;
    overflow: hidden;

    &-item {
      display: inline-block;
      padding: 10px 0;
      text-align: center;
      width: 100px;
      cursor: pointer;
    }
    .#{$prefix}-selected {
      background-color: #3794ff;
      color: white;
    }
  }

  &icon-tag {
    font-size: 10px;
    position: absolute;
    top: 4px;
    right: 6px;
    background-color: #ff1111;
    color: white !important;
    padding: 0px 4px;
    border-radius: 10px;

  }

  &copy-ctrl {
    margin: 20px 50px;
  }
}
